/* Custom styles for the NOSTR comment form in VEINTIUNO.world. */

#wp-nostress-comments-form {
    text-align: center;
}

code {
    opacity: 50%;
}

.extensiones {
    line-height: 1.2;
    margin-top: 12px;
}

.brupton {
    border-radius: 50px;
    margin-left: -42px;
}

/* --nc-background: #003049;
--nc-container-font-family: arial;
--nc-container-font-size: 1.2em;
--nc-comment-author-font-size: 1.2em;
--nc-comment-author-font-family: monospace;
--nc-comment-author-font-color: inherit;
--nc-comment-date-color: inherit;
--nc-comment-date-font-family: sans-serif;
--nc-comment-date-font-size: 0.7em;
--nc-link-text-decor: none;
--nc-link-text-decor-hover: underline;
--nc-textarea-font-family: inherit;
--nc-textarea-font-size: inherit;
--nc-text-background: #dddddd;
--nc-text-color: #eae2b7;
--nc-text-color-dark: #fcbf49;
--nc-primary-color: #fcbf49;
--nc-primary-contrast: #003049;

*/

